[Unit]
Description=Connection service
After=network.service
Requires=network.service

[Service]
Type=dbus
BusName=net.connman
Restart=on-failure
ExecStart=/usr/sbin/connmand -n
StandardOutput=null

[Install]
WantedBy=multi-user.target
